@import url('https://fonts.cdnfonts.com/css/verdana-pro-cond') ;

.game-container {
  background-clip: border-box;

  /* background-image: url('../assets/background-game.png'); */
  background-image: url('../assets/backgroundquestionBack.svg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100vw;
}

.correct {
  border: 1px solid #2fc18c;
  border-radius: 100px;
  box-shadow: 0 0 15px #2fc18c , 0 0 2px #2fc18c;
  color: black;
  cursor: pointer;
  font-family: Epilogue , sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  height: 64px;
  line-height: 150%;
  margin-bottom: 1rem;
  position: relative;
  width: 519px;
}

/* .correct:before {
  content: '' ,;
} */

.wrong {
  border: 1px solid red;
  border-radius: 100px;
  box-shadow: 0 0 13px red;
  color: black;
  cursor: pointer;
  font-family: Epilogue , sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  height: 64px;
  line-height: 150%;
  margin-bottom: 1rem;
  position: relative;
  width: 519px;
}

/* mix-blend-mode: multiply; */

/* filter: blur(4px); */
.question-container {
  align-items: center;
  background: white;
  border-radius: 10px;
  box-shadow: 1px 4px 13px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  height: 286px;
  justify-content: center;
  position: relative;
  width: 439px;
}

.category {
  align-items: center;
  border-radius: 100px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  display: flex;
  font-family: Epilogue , sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: 45px;
  justify-content: center;
  letter-spacing: 0.12em;
  position: absolute;
  text-transform: uppercase;
  top: -25px;
  width: 413px;
}

.text {
  font-family: Epilogue , sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  width: 413px;
}

.main-container {
  height: 100%;
  margin-top: 6rem;
  position: relative;
  width: 100%;
  z-index: 2;
}

.questions-answer-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 120px;
  width: 95%;
}

.logo {

  /* left: 239px; */
  position: absolute;
  top: -255px;
  width: 197px;
  z-index: 10;
}

.answer-options {
  height: 365px;
  width: 519px;
}

.hide {
  display: none;
}

.option {
  background: white;
  border: 1px solid white;
  border-radius: 100px;
  color: black;
  cursor: pointer;
  font-family: Epilogue , sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  height: 64px;
  line-height: 150%;
  margin-bottom: 1rem;
  position: relative;
  text-align: center;
  width: 519px;
}

.timerContainer {
  bottom: 5px;
  display: flex;
  flex-wrap: nowrap;

  /* line-height: 15%; */
  position: absolute;

}

.timer {
  color: #ea5d5d;
  font-family: Verdana , sans-serif;
  font-size: 16px;

  /* font-stretch: 0 200%; */
  font-style: bold;
  font-weight: 700;
  justify-content: center;
  letter-spacing: 0.12em;
  line-height: 150%;
  margin-left: 10px;
  transform: scale(1.3, 1);
  width: 100%;

}

.next-btn {
  height: 45px;
  width: 519px;
}

.delete-btn {
  background: red;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  cursor: pointer;
  font-family: Epilogue , sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: 45px;
  width: 519px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 0;
  height: 320px;
  justify-content: center;
  margin: 0;
  margin-bottom: 0.3rem;
}

.loader-container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.loader {
  animation: load6 1.7s infinite ease , round 1.7s infinite ease;
  border-radius: 50%;
  color: white;
  font-size: 90px;
  height: 1em;
  margin: 72px auto;
  overflow: hidden;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  width: 1em;
}

@keyframes load6 {

  0% {
    box-shadow: 0 -0.83em 0 -0.4em , 0 -0.83em 0 -0.42em , 0 -0.83em 0 -0.44em , 0 -0.83em 0 -0.46em , 0 -0.83em 0 -0.477em;
  }

  5%, 95% {
    box-shadow: 0 -0.83em 0 -0.4em , 0 -0.83em 0 -0.42em , 0 -0.83em 0 -0.44em , 0 -0.83em 0 -0.46em , 0 -0.83em 0 -0.477em;
  }

  10%, 59% {
    box-shadow: 0 -0.83em 0 -0.4em , -0.087em -0.825em 0 -0.42em , -0.173em -0.812em 0 -0.44em , -0.256em -0.789em 0 -0.46em , -0.297em -0.775em 0 -0.477em;
  }

  20% {
    box-shadow: 0 -0.83em 0 -0.4em , -0.338em -0.758em 0 -0.42em , -0.555em -0.617em 0 -0.44em , -0.671em -0.488em 0 -0.46em , -0.749em -0.34em 0 -0.477em;
  }

  38% {
    box-shadow: 0 -0.83em 0 -0.4em , -0.377em -0.74em 0 -0.42em , -0.645em -0.522em 0 -0.44em , -0.775em -0.297em 0 -0.46em , -0.82em -0.09em 0 -0.477em;
  }

  100% {
    box-shadow: 0 -0.83em 0 -0.4em , 0 -0.83em 0 -0.42em , 0 -0.83em 0 -0.44em , 0 -0.83em 0 -0.46em , 0 -0.83em 0 -0.477em;
  }
}

@keyframes round {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes round {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.opt {
  border-radius: 50%;
  bottom: 12%;
  justify-self: center;
  left: 0;
  margin-left: 0.55rem;
  position: absolute;
  transition: 0.3s ease-in-out;
}
