body {
  align-items: center;
  background-image: url('../background.png');
  height: 100%;
  width: 100%;
}

img {
  display: flex;
}

.image-container {
  align-items: center;
  display: flex;
  height: 266px;
  justify-content: center;
  margin-bottom: 0.75rem;
  width: 614px;
}

form {
  align-items: center;
  background: white;
  border-radius: 10px;
  box-shadow: 1px 4px 13px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 266px;
  justify-content: center;
  width: 614px;
}

input {
  background: white;
  border: 1px solid #e1e5eb;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: 45px;
  padding-left: 0.625rem;
  width: 519px;
}

.start-btn, .green-btn {
  background: #2fc18c;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  cursor: pointer;
  font-family: Epilogue , sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  height: 45px;
  width: 519px;
}

.green-btn :before {
  content: '';
}

.config {
  background-color: grey;
}

button:hover {
  opacity: 0.8;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}
