header {
  align-items: center;
  background: white;
  display: flex;
  height: 113px;
  justify-content: flex-end;

  /* position: absolute; */
  top: 0;
  width: 100%;
}

.header-container {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 40%;
}

.player {
  align-items: center;
  display: flex;
  gap: 0.75rem;
}

.avatar {
  border-radius: 1.134rem;
  height: 37px;
  width: 37px;
}
