header {
  align-items: center;
  background: white;
  display: flex;
  font-family: Epilogue , sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: 113px;
  justify-content: flex-end;
  letter-spacing: 0.12em;
  list-style: 150%;

  /* position: absolute; */
  top: 0;
  width: 100%;
}

.header-container {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

.player {
  align-items: center;
  display: flex;
  gap: 0.75rem;
}

.avatar {
  border-radius: 1.134rem;
  height: 37px;
  width: 37px;
}

.score:before {
  content: url('../assets/star.svg');
}

.score {
  align-items: center;
  display: flex;
  gap: 10px;
}

.btn-config {
  background: white;
  border: none;
  cursor: pointer;
}

.header-image {
  display: flex;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 50%;
}

.logo {
  bottom: -90%;
  position: absolute;
  width: 28%;

}
